---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Equipos from "../components/Equipos.astro";
import "../styles/global.css";
import Implementos from "../components/Implementos.astro";
import BIbliografia from "../components/BIbliografia.astro";
import Creditos from "../components/Creditos.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Practica Flujo Compresible</title>
	</head>
	<body>
		<Layout>
			<Hero />
			<Equipos title="Equipos" />
			<Implementos title="Implementos" />
			<Creditos title="Nuestro Equipo" />
			<BIbliografia title="Bibliografia" />
		</Layout>
	</body>
</html>
