---
const { title } = Astro.props;
---
<div id="bibliografia"></div>

<div class="container mx-auto px-8 pt-20 pb-28">
  <h2 class="text-5xl font-bold text-center mb-15">
    {title}
  </h2>

  <ul class="bibliografia">
    <li>[1] Anderson, J. D. (2017). Fundamentals of Aerodynamics. McGraw-Hill Education.</li>
    <li>[2] Bejan, A., & Lorente, S. (2013). Design with Constructal Theory. Wiley.</li>
    <li>[3] Çengel, Y. A., & Boles, M. A. (2019). Thermodynamics: An Engineering Approach (9th ed.). McGraw-Hill Education.</li>
    <li>[4] Connor, N. (2020b, enero 8). ¿Qué es la turbina de impulso y la turbina de reacción?        Definición. Thermal Engineering.</li>
    <li>[5] Cuadrado, Ilba, Cadavid, Francisco, Agudelo, John, Sánchez, Carlos. (2008). Modelado de flujo compresible unidimensional e isentrópico por el método de volúmenes finitos. Dyna, 75(155), 199-210.</></li>
  </ul>
</div>

<style>
  .bibliografia {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
  }

  .bibliografia li {
    font-size: 20px;
  }
</style>