---
import { Image } from "astro:assets";

import fotoRaul from "../img/foto-raul.webp";

const { title } = Astro.props;
---

<div class="container mx-auto px-8 pt-20 pb-28">
  <h2 class="text-5xl font-bold text-center mb-15">
    {title}
  </h2>

  <div class="team">
    <div class="avatar">
      <div class="w-44 rounded-full">
        <Image src={fotoRaul} alt="foto Raul david villarreal" />
      </div>
    </div>
    <div class="avatar">
      <div class="w-44 rounded-full">
        <img src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp" />
      </div>
    </div>
    <div class="avatar">
      <div class="w-44 rounded-full">
        <img src="https://img.daisyui.com/images/profile/demo/distracted1@192.webp" />
      </div>
    </div>
  </div>
</div>

<style>
  .team {
    display: flex;
    justify-content: center;
    column-gap: 15px;
  }
</style>