---

---

<footer class="footer sm:footer-horizontal footer-center text-base-content p-4">
  <aside>
    <p>Copyright © {new Date().getFullYear()} - Todos los derechos reservados. Desarrollado por <a href="https://diego-portfolio-ruby.vercel.app/" target="_blank">Diego Álvarez</a></p>
  </aside>
</footer>

<style>
  .footer {
    background-color: oklch(0 0 0 / 0.98);
    color: #fff;
  }
</style>