---

---
<div class="navbar bg-base-100 shadow-sm sticky top-0 z-40">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Práctica Flujo Compresible</a>
  </div>
  <div class="flex-1">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#equipos">Equipos</a></li>
      <li><a>Implementos</a></li>
      <li><a>Créditos</a></li>
      <li><a>Bibliografia</a></li>
      <!-- <li>
        <details>
          <summary>Parent</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li> -->
    </ul>
  </div>
  <div class="flex-none">
    <input type="checkbox" value="synthwave" class="toggle theme-controller" />
  </div>
</div>