---
import { Image } from "astro:assets";
import labHero from '../img/lab-hero.webp';
---

<div class="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-15 text-5xl font-bold">¡Bienvenido!</h1>
      <!-- <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p> -->
      <button class="btn btn-primary">Explora</button>
    </div>
  </div>
</div>

<style>
.hero {
  background-image: url('../img/lab-hero.webp');
  min-height: 630px;
}

.hero-overlay {
  background-color: color-mix(in oklab, oklch(0.14 0.01 0 / 0.7) 50%, transparent);
}
</style>